<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block page_title %}
        {% endblock page_title %}


    </title>
</head>
<body>
    {% block contents %}
    {% endblock contents %}
    
</body>
</html>