{% extends "base.html" %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}

{% block contents %}
    <h1>{{page_title}}</h1>
    {%for post in posts%}
        <h1>Name    : {{post.name}}</h1>
        <h2>Status  : {{post.status}}</h2>
        <h3>{{post.published}}</h3>
    {% endfor %}
    
{% endblock contents %}